<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="QuidMind.CloRoFeel.BootLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <QuidMind.CloRoFeel.BootLoader.Properties.Settings>
            <setting name="Exe1_Path" serializeAs="String">
                <value>..\RoboardHardwareService\QuidMind.CloRoFeel.RoboardServiceImplementation.exe</value>
            </setting>
            <setting name="Exe1_StartWait" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Exe2_Path" serializeAs="String">
                <value>..\RobotService\QuidMind.CloRoFeel.RobotService.exe</value>
            </setting>
            <setting name="Exe3_Path" serializeAs="String">
                <value>..\CamGrabber\QuidMind.CloRoFeel.CamGrabber.exe</value>
            </setting>
            <setting name="Exe4_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Exe5_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Exe2_StartWait" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Exe3_StartWait" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Exe4_StartWait" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="Exe5_StartWait" serializeAs="String">
                <value>15000</value>
            </setting>
        </QuidMind.CloRoFeel.BootLoader.Properties.Settings>
    </applicationSettings>
</configuration>
