<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuidMind.CloRoFeel.CamGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QuidMind.CloRoFeel.CamGrabber.Properties.Settings>
            <setting name="grabInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="robotVideoServiceUrl" serializeAs="String">
                <value>http://clorofeel.cloudapp.net/robotvideo.svc</value>
            </setting>
            <setting name="_LOCAL" serializeAs="String">
                <value>http://127.0.0.1:81/robotvideo.svc</value>
            </setting>
            <setting name="_PROD" serializeAs="String">
                <value>http://clorofeel.cloudapp.net/robotvideo.svc</value>
            </setting>
        </QuidMind.CloRoFeel.CamGrabber.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_RobotVideo">
                    <binaryMessageEncoding maxReadPoolSize="655360" maxWritePoolSize="655360"
                        maxSessionSize="655360">
                        <readerQuotas maxDepth="32" maxStringContentLength="655360" maxArrayLength="655360"
                            maxBytesPerRead="655360" maxNameTableCharCount="1315360" />
                    </binaryMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="655360"
                        maxReceivedMessageSize="655360" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true"
                                   hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:81/RobotVideo.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_RobotVideo"
                contract="ClorofeelCloudServices.RobotVideo" name="CustomBinding_RobotVideo" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
