<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="QuidMind.CloRoFeel.RoboardServiceImplementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <services>
      <service name="QuidMind.CloRoFeel.RoboardService.RoboardHardwareService">
        <endpoint contract="QuidMind.CloRoFeel.RoboardService.IRoboardHardware"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:20111"/>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <QuidMind.CloRoFeel.RoboardServiceImplementation.Properties.Settings>
      <setting name="Servo5_MinPulse" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Servo5_MaxPulse" serializeAs="String">
        <value>2400</value>
      </setting>
      <setting name="Servo6_MinPulse" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Servo6_MaxPulse" serializeAs="String">
        <value>2400</value>
      </setting>
    </QuidMind.CloRoFeel.RoboardServiceImplementation.Properties.Settings>
  </applicationSettings>
</configuration>
