<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FaceDetectionTestLuxand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FaceDetectionTestLuxand.Properties.Settings>
            <setting name="FaceCropLibApiKey" serializeAs="String">
                <value>6ECDDB0D383705026222D0F2C152F73183D0075260FCC30E561C62C11491C6B952FE8256C6CF615760A7D36113E27B2241E95FD832487A1AB04B7B1BACC9BEC5</value>
            </setting>
            <setting name="ClorofeelCloudServicesUri" serializeAs="String">
                <value>http://clorofeel.cloudapp.net/RobotVideo.svc</value>
            </setting>
        </FaceDetectionTestLuxand.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_RobotVideo">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="655360" maxArrayLength="655360" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
                    </binaryMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="655360" maxReceivedMessageSize="655360" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="655360" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://clorofeel.cloudapp.net/RobotVideo.svc" binding="customBinding" bindingConfiguration="CustomBinding_RobotVideo" contract="ClorofeelCloudServices.RobotVideo" name="CustomBinding_RobotVideo"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
