<?xml version="1.0"?>
<configuration> 
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuidMind.CloRoFeel.RobotService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <client>
      <endpoint contract="QuidMind.CloRoFeel.RoboardService.IRoboardHardware"
                binding="netTcpBinding"
                address="net.tcp://localhost:20111"/>
    </client>

  </system.serviceModel>
  
  <applicationSettings>
    <QuidMind.CloRoFeel.RobotService.Properties.Settings>
      <setting name="RoboardHardwareServiceUri" serializeAs="String">
        <value>net.tcp://127.0.0.1:20111</value>
      </setting>
      <setting name="seuilDeltaHorizontal" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="seuilDeltaVertical" serializeAs="String">
        <value>10</value>
      </setting>
    </QuidMind.CloRoFeel.RobotService.Properties.Settings>
  </applicationSettings>
</configuration>
